<!DOCTYPE html>
<html>

<head>
    <title>12</title>
    <link rel="stylesheet" href="../public/css/styles.css" />

</head>

<body>
  <div id='form'>
    <form>
        <span>
           Mach12 Microwave
            <select>
                <option>Microwave ++</option> spins at mach 12+
                <option>Microwave Chrome</option> can run google chrome
                <option>Microwave Peguine</option> can install linux
                <option>Microwave Door+</option> door openns in all direction
                <option>Microwave Colour</option> get a diffrent colour microwave with a rave LED screen
                <option>Microwave Apple</option> an apple shaped microwave with no windows
                <option>Micrcowave Windows</option> a microwave made out of all windows
                <option>Microwave M12</option> normal m12 microwave
            </select>
        </span>
        <span>
            Mach12 Dryer
            <select>
                <option>M12 Dryer</option> normal dryer
                <option>M12 Dryer Download</option> can download your clothes
                <option>M12 Dryer XL</option> extra large dryer
                <option>M12 Dryer Jam</option> dryer plays music
                <option>M12 Dryer ++</option> a dryer with a microwave
                <option>M12 Dryer +++</option> a dryer with a microwave and a ToasterOven
                <option>M12 Dryer +-+</option> a dryer with a ToasterOven
                <option>M12 Dryer Colour</option> diffrent colours
            </select>
        </span>
        <span>
            Mach12 ToasterOven
            <select>
                <option>ToasterOven fire</option> catches whatever is in the toaster on fire
                <option>ToasterOven Offline</option> can toast your food offline
                <option>ToasterOven Colour</option> diffrent colour options
                <option>ToasterOven M12</option> mach12 toaster
                <option>ToasterOven +</option> is a toaster and a ToasterOven
                <option>ToasterOven Ice</option> makes you a cold drink if you toast 7 slics of wheat bread
                <option>ToasterOven Vision</option> watch a movie while you make toast and toast an image into your toast
                <option>ToasterOven slingshot</option> fired finished toast at mach 12
            </select>
        </span>
    </form>
    </div>
    <div class="container">
        <h1>Mach12 Merch!</h1>
    </div>
    <h2>I crave the sweet release of death</h2>
    <script src="../public/js/scripts.js"></script>
</body>

</html>