html
    head
        title= title
        link(rel="stylesheet",  href="/css/styles.css")
        script(src="/js/scripts.js")
    body
        div(class=["container"])
            h1(id="myH1")= title
        div(class="contact")
            h1 Thanks For Nothing Loser
    footer        
        h6 you just fell for my master scam